@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">FC24 Stats</h1>
    <p>
        <a href="/Home/AllTimeTable" class="btn btn-primary btn-lg btn-block">Tabela wszech czasów</a>
    </p>
    <p>
        <a href="/Players/Create" class="btn btn-secondary btn-lg btn-block">Dodaj gracza</a>
    </p>
    <p>
        <a href="/Tournaments/Create" class="btn btn-secondary btn-lg btn-block">Dodaj ostatni turniej</a>
    </p>
    <p>
        <a href="/Tournaments" class="btn btn-secondary btn-lg btn-block">Zobacz historię turniejów</a>
    </p>
</div>
