@model FC24StatsWebApp.Models.Result

@{
    ViewData["Title"] = "Przyznaj Punkty";
}

<h1>@ViewData["Title"]</h1>

<h4>Wynik</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="PlayerID" class="control-label"></label>
                <select asp-for="PlayerID" class="form-control" asp-items="ViewBag.PlayerID"></select>
                <span asp-validation-for="PlayerID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TournamentID" class="control-label"></label>
                <select asp-for="TournamentID" class="form-control" asp-items="ViewBag.TournamentID"></select>
                <span asp-validation-for="TournamentID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Place" class="control-label"></label>
                <input asp-for="Place" class="form-control" />
                <span asp-validation-for="Place" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Points" class="control-label"></label>
                <input asp-for="Points" class="form-control" />
                <span asp-validation-for="Points" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Utwórz" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Powrót do listy</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
